body{
background-color: #FAF7ED;
/*color: #4d4d4d;*/
/*word-spacing: -0.1em;*/
/*letter-spacing: -0.06em;*/
line-height:1.8em;
/*line-height: 1.6875em;*/
font-size:130%;
/*font-family:Monaco;*/
overflow-x:hidden;
font-family: 'Open Sans', sans-serif;
overflow-y:auto;}
.viewport{ max-width:640px; min-width:300px; margin:0 auto;}
a {text-decoration: none;}
p a { padding-right: 50px;}
input {width:50px;border: 1px solid #999;}
li p { color: #542a03;}

#content p span.mark
{
  color:#F75000;
}
.circle,.color {
display: block;
width: 16px;
height: 16px;
border-radius: 50%;
background-color: #F75000;
color: #fff;
text-align: center;
line-height: 16px;
font-size: 8px;
position: fixed;
top: 4px;
right: 10px;
}

.color {
 top: 46px; 
}

sup 
{
  color: #F75000; line-height: 0;
  font-size : 10px;
}

.backImg 
{
  background-image: url("backimg.webp");
}
